iframe {
  display: block !important;
  border: 0;
}

.flash {
  border: 0;
  background: transparent;
  color: #FFF;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 2em;
  width: 75px;
  height: 75px;
}

.reverse-camera {
  border: 0;
  background: transparent;
  color: #FFF;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2em;
  width: 75px;
  text-align: right;
  height: 75px;
}

.take-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: fade(#FFF, 30);
  border: 5px solid fade(#FFF, 50);
  position: absolute;
  bottom: 10px;
  left: ~'calc(50% - 35px)';
}
