@main-color: #0098A6;
@main-variation: #00C9DB;
@main-variation-dark: #004D54;


.title {
  text-align: center;
  color:cornsilk;
  font-size: 50px;
  padding-top: 40%;
  margin-top: 0;
}
.login-menu {
  bottom: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.greeting {
  text-align: center;
  padding-top: 20%;
  color:cornsilk;
  margin-top: 0;
  position: relative;
}

.greeting-title {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;

}

.inputFields {
  text-align: center;
  border-radius: 22.5px;
  border: 0px;
  margin-top: 60px;
  margin-bottom: 30px;
  border: 0px;
  color: cornsilk;
}

.textfield {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid cornsilk;
  font-size: 25px;
  outline-width: 0;
  width: 80%;
  color: cornsilk;
}

.submitButton {
  text-align: center;
  border-radius: 25px;
  display: block;
  background-color: cornsilk;
  border-color: @main-variation-dark;
  height: 50px;
  width: 280px;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 15px;
  text-transform: uppercase;
}

.linkButton {
  background-color: transparent;
  border: 0;
  color: white;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  font-size: 15px;
}

body {
  background: transparent;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.landing, .signup, .login {
  min-height: 100%;
  background-color: @main-color;
}
