@import 'variables';

@main-color: #0098A6;
@main-variation: #00C9DB;
@main-variation-dark: #004D54;


.title {
  text-align: center;
  color: #FFF;
  font-size: 50px;
  padding-top: 40%;
  margin-top: 0;
}
.login-menu {
  bottom: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.greeting {
  text-align: center;
  padding-top: 20%;
  color: #FFF;
  margin-top: 0;
  position: relative;
}

.greeting-title {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

.inputFields {
  text-align: center;
  margin-bottom: 15px;
  //margin-top: 5%;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
}

.textfield {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid;
  font-size: 25px;
  outline-width: 0;
  width: 80%;
  color: #FFF;
}

.submitButton {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  border-radius: 25px;
  display: block;
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  outline: none;
  height: 50px;
  width: 280px;
  padding: 0.5em;
  font-size: 20px;
  text-transform: uppercase;
}

.linkButton {
  background-color: transparent;
  border: 0;
  color: #FFF;
  text-align: center;
  margin-top: 30px;
  width: 100vw;
  font-size: 15px;
}

body {
  background: transparent;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.landing, .signup, .login {
  min-height: 100%;
  background-color: @peter_river;
}

/**************** notification *********************/


@keyframes show-error {
  0% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  10% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  90% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}

.notification {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      background: @alizarin;
      color: #FFF;
      height: 55px;
      z-index: 1000;
      font-size: 1em;
      line-height: 70px;
      animation: show-error 3s normal forwards ease-in-out;
      transform: translate(0, -100%);
}

.success {
      background: @emerald;
}
