<head>
  <title>Safie</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
  {{> notification}}
  {{> router}}
</body>

<template name="router">
  {{#if loginPage }}
    {{> login }}
  {{else}}{{#if signupPage }}
    {{> signup }}
  {{else}}{{#if pinPage }}
    {{> pincode }}
  {{else}}
    {{> landing }}
  {{/if}}{{/if}}{{/if}}
</template>

<template name="notification">
  {{#if show}}
    <div class="notification {{msgType}}">
      {{message}}
    </div>
  {{/if}}
</template>
