<template name="history">
  <header class="header">
    <h2>History</h2>
    <i class="camera ion-ios-camera"></i>
  </header>
  <div class="scrollable">
    {{#if isUnsafe}}
    <button id="imSafe">I'm Safe</button>
    {{/if}}
    {{#each photos}}
    <div class="photo">
      <div class="status">
        <i class="{{#if unsafe}}unsafe ion-ios-clock-outline{{else}}{{#if triggered}}triggered ion-ios-close-outline{{else}}not-triggered ion-ios-checkmark-outline{{/if}}{{/if}}"></i>
      </div>
      <div class="timestamp"><i class="ion-ios-clock-outline"></i> <span>{{prettifyDate createdAt}}</span></div>
      <div class="location"><i class="ion-ios-location-outline"></i> <span>{{prettifyLocation localisation.coords}}</span></div>
    </div>
    {{else}}
    <div class="no-photo">No Safie taken yet.</div>
    {{/each}}
  </div>
</template>
