<template name="login">
  <div class="login">
    <div class="greeting">
      <button class="back ion-ios-arrow-back"></button>
      <h2 class="greeting-title">Welcome back!</h2>
    </div>
    <form>
      <div class="inputFields">
        <input id="email" type="email" class="textfield" placeholder="Email">
        <input id="password" type="password" class="textfield" placeholder="Password">
      </div>
      <button type="submit" class="submitButton" id="login">Go</button>
    </form>
  </div>
</template>
