<template name="login">
  <div class="login">
    <button class="back ion-ios-arrow-back"></button>
      <h2>Welcome back!</h2>
      <form>
          <div class="inputFields">
              <input id="email" type="email" placeholder="Email..."><br><br>
              <input id="password" type="password" placeholder="Password..."><br><br>
          </div>
          <div class="landingButton">
              <button type="submit" id="login">Go</button>
          </div>
      </form>
  </div>
</template>
