<template name="landing">

    <h2 class="title">Safie</h2>
    <form>
        <div class="inputFields">
            <input id="emailTextfield" type="email" placeholder="Email..."><br><br>
            <input id="passwordTextfield" type="password" placeholder="Password..."><br><br>
        </div>
        <div class="landingButton">
            <button id="login">Log In</button>
        </div>
        <div class="landingButton">
            <button id="signup">Sign Up</button>
        </div>
    </form>

</template>
