<template name="camera">
camera
</template>

<template name="settings">
<div class=settingsClass>
<h2 id="settingsTitle">Settings</h2>
    <form>
        <div class="settingSubsection"> Personal </div>
        <div class="personalSettings">
            <div class="label">Name: <br>
                <input class="textfield" type="text"></div>
            <div class="label">Deactivation Code: <br>
                <input class="textfield" type="password"></div>
        </div>
        <div class="settingSubsection"> Notifications </div>
        <div class="notificationSettings">

            <div class="label">Trusted Person's Email: <br>
                <input class="textfield" type="email"></div>
            <div class="label">Min Storage Days: <br>
                <input class="textfield" type="number"></div>
            <div class="label">Notification Time: <br>
                <input class="textfield" type="number"></div>
        </div>
        <div class="submitButton">
        <button id="submitSettings">Submit Changes</button>
        </div>
    </form>
</div>
</template>

<template name="history">
    history
</template>

<template name="center">
  <div class="wrapper">
    {{>swipe Swiper=Swiper}}
  </div>
</template>
