<template name="signup">
  <div class="greeting">
      <button class="back ion-ios-arrow-back"></button>
      <h2 class="greeting">Hello there!</h2>
  </div>

      <form>
          <div class="inputFields">
              <input id="email" type="email" class="textfield" placeholder="Email..."><br><br>
              <input id="password" type="password" class="textfield" placeholder="Password..."><br><br>
          </div>

              <button type="submit" class="signup submitButton" id="login">Go</button>
      </form>
</template>
